.newForm{
    width: 50%;
    margin: 0px auto;
    box-shadow: 0px 0px 1px 1px rgb(244, 241, 241);
    border-radius: 5px;
    direction: rtl;
    padding: 20px;
    text-align: right;
    min-height: 300px;
    overflow: overlay;
}
.newForm label{
    width: 100%;
    color: rgb(144, 144, 144);
    font-size: smaller;
    margin-bottom: 40px;
}
.newForm input ,.newForm input :focus-visible , .newForm input :focus{
    width: 100%;
    border: none !important;
    border-bottom: 1px solid rgb(177, 177, 177) !important;
    margin-top: 10px;
}
.chackboxContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.chackboxContainer input{
    width: 45%;
}
.submitBtn{
    width: 60px;
    height: 40px;
    background-color: rgb(72, 155, 109);
    color: white;
    border: none;
    border-radius: 5px;
    float: left;
}
.dateLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
.dateLabel input{
    border-bottom: none !important;
}
.inputError{
    border-color: rgb(206, 73, 73);
    color: rgb(206, 73, 73);
}
.errorLine{
    font-size: 10px;
    color: rgb(206, 73, 73);
}
.inputCurrency{
    position: absolute;
    display: block;
    top: 7px;
    left: -15px;
    color: rgb(144, 144, 144);
    padding-left: 5px;
    width: 45px;
    z-index: 2;
}

@media (max-width: 950px){
    .newForm{
        width: 95%;
    }
}