.cardItemContainer{
    width: 45%;
    box-shadow: 0px 0px 1px 1px rgb(244, 241, 241);
    border-radius: 5px;
    direction: rtl;
    padding: 10px;
    margin-bottom: 20px;
}
.cardItemBody{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainDescription{
    width: 50%;

}
.mainDescriptionHeading{
    text-align: right;
    margin-bottom: 20px;
}
.cardHeading{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.headingDescription{
    font-size: 12px;
    font-weight: 400;
    color: rgb(144, 144, 144);
}
.cardDetails{
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
   margin-bottom: 10px;
}
.cardDetails p{
    color: rgb(63, 63, 63);
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}
.membersModalBtn{
    width: 80px;
    height: 40px;
    border: none;
    background-color: rgb(19, 151, 151);
    color: white;
    font-size: 10px;
    font-weight: 400;
    border-radius: 5px;
}
.warningBtn{
    width: 60px;
    height: 40px;
    background-color: rgb(255, 187, 0);
    border-radius: 5px;
    border: none;
}
.trashBtn{
    width: 60px;
    height: 40px;
    background-color: rgb(228, 73, 73);
    border-radius: 5px;
    border: none;
}
.editBtn{
    width: 60px;
    height: 60px;
    background-color: rgb(255, 187, 0);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardItemFooter{
    width: 100%;
    height: 10%;
    border-top: 1px solid rgb(203, 203, 203);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-bottom: 0px;
    margin-top: 10px;
}
.cardItemFooter p{
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(144, 144, 144);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 40px;
    padding-bottom: 10px;
}
.closeModalBtn{
    width: 80px;
    height: 40px;
    border: none;
    background-color: rgb(78, 92, 92);
    color: white;
    font-size: 10px;
    font-weight: 400;
    border-radius: 5px;
    margin: 25px 15px 15px 0px;
    float: right;
}
.infoForm{
    display: flex;
    flex-direction: column;
}
.infoForm button{
    width: 20%;
    margin-top: 10px;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(19, 151, 151);
    color: white;
}
.btnJoin{
    width: 20%;
    margin-top: 10px;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(19, 151, 151);
    color: white;
}
@media (max-width: 950px){
    .cardItemContainer{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal{
        width: 95%;
    }
    .infoForm button{
        width: 100%;
    }
    .btnJoin{
        width: 100%;
    }
}
