body{
    background-color: rgb(246, 246, 246);
}
.gridContainer{
    display: grid !important;
    grid-template-columns: 20% 76% !important;
    justify-content: end !important;
    gap: 10px !important;
    width: 100% !important;

}
.cardContainer{
    margin-top: 50px;
    width: 95%;
    min-height: 200px;
 /* grid-column-start: 2; */

}
.menuSlot{
    width: 20%;
    /* grid-column: 1 / 5; */
}
.cardHeader{
    width: 95%;
    margin: 0px auto;
    padding: 10px;
    background-color: rgb(19, 151, 151);
    box-shadow: 0px 0px 1px 2px rgb(221, 221, 221);
    height: 80px;
    position: relative;
    top: 60px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}
.headerTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.headerBtn{
    border: none;
    border-radius: 5px;
    font: 10px;
    background-color: rgb(68, 123, 123);
    color: white;
}
.cardBody{
    width: 100%;
    min-height: 200px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #f0f0f0;
    border-radius: 5px;
    padding: 80px 10px 40px 10px;
}
.heading{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.description{
    font-size: 12px;
    font-weight: 400;
    color: white;
}


@media (max-width: 950px){
    .gridContainer{
        display: block !important;
        width: 100% !important;
        margin: 0px auto;
    }
    .cardContainer{
        display: block ;
        margin: 0px auto;
        width: 100%;
    }
    .menuSlot{
        display: none;
    }
}


@media (min-width: 1200px) {
    .gridContainer{
         grid-template-columns: 20% 77%;
    }
    .menuSlot{
        width: 25%;
    }
  }  