@font-face {
  font-family: vazir;
  src: url(../public/assest/fonts/Vazir-FD.woff);
}
body {
  /* margin: 0; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  font-family: vazir !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a,link {
  text-decoration: none;
  color: unset;
}
a:hover,link :hover{
  text-decoration: none;
  color: unset;
}